# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\发展对象\demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
